# Anvil Configuration
ANVIL_HOST=127.0.0.1
ANVIL_PORT=8545
ANVIL_CHAIN_ID=31337

# Fork Configuration
FORK_URL=https://eth-mainnet.g.alchemy.com/v2/fke6Zvkyv0BXboRGLnsvJ
FORK_BLOCK_NUMBER=

# Contract Configuration
CONTRACT_NAME=SupplyChainTracker

# Deployment Configuration
DEPLOYER_PRIVATE_KEY=
BACKUP_DIR=./backups

